= semantic_form_for @news do |f|
  = f.inputs do
    = f.input :published, :hint=>"If left blank it will be published immediately"
    = f.input :title
    = f.input :url, :hint=>"If content is blank, URL will be used directly, otherwise as source reference"
    = f.input :game
    = f.input :content, :hint=>"You may use markdown for styling"
  = f.actions do 
    = f.action :submit, :button_html=>{ :disable_with => 'Working...' }
    = f.action :cancel, :label=>"Cancel"